@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
/* the scroll bar */
.the-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 0rem;
}

.the-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.the-scrollbar::-webkit-scrollbar-track:hover {
    background: rgb(244, 243, 243);
}

.the-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
}

.the-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(241, 179, 36);
    border-radius: 10px;
}


/* the animation for loader */
.animated-bg {
    border-radius: 4px;
    border: none;
    animation: loader 3s infinite linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #ffed9e, #ffffff, #ffed9e);
    background-size: 800px 50px;
    height: 20px;
}

@keyframes loader {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

:root {
    --color-primary-100: #f0f4f9;
    --color-primary-200: #e6eaf1;
    --color-primary-300: #c4c7c5;
    --color-text: #000000;
    --color-background: #ffffff;
}

[data-theme="dark"] {
    --color-primary-100: #2a2a2a;
    --color-primary-200: #3a3a3a;
    --color-primary-300: #4a4a4a;
    --color-text: #e4e4e4;
    --color-background: #1a1a1a;
}

[data-theme="blue"] {
    --color-primary-100: #cfdff7;
    --color-primary-200: #a4c8fb;
    --color-primary-300: #206de9;
    --color-text: #1e3f6e;
    --color-background: #ebf5ff;
}

[data-theme="yellow"] {
    --color-primary-100: #fcf2cd;
    --color-primary-200: #fae9ae;
    --color-primary-300: #fcc333;
    --color-text: #88470e;
    --color-background: #f9f4e0;
}

[data-theme="red"] {
    --color-primary-100: #f8c1c1;
    --color-primary-200: #fa9d9d;
    --color-primary-300: #ff3232;
    --color-text: #880000;
    --color-background: #fadede;
}

[data-theme="green"] {
    --color-primary-100: #d9f7d9;
    --color-primary-200: #b3f0b3;
    --color-primary-300: #00e600;
    --color-text: #006600;
    --color-background: #e6ffe6;
}

/* Apply theme colors to existing classes */
.bg-primary-100 {
    background-color: var(--color-primary-100);
}

.bg-primary-200 {
    background-color: var(--color-primary-200);
}

.bg-primary-300 {
    background-color: var(--color-primary-300);
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
}