@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.animated-bg {
    border-radius: 4px;
    border: none;
    animation: loader 3s infinite linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
}

@keyframes loader {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}